@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: #232323;
}

.loader {
    background-color: #ffffff;
    position: absolute;
    border-radius: inherit;
    z-index: 9999;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.container {
    font-family: 'Comic Neue', cursive;
    position: relative;
    margin: 2% auto;
    width: 70%;
    border-radius: 5px;
    background: #fff;
    min-height: 500px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.header__title {
    overflow-wrap: break-word;
    margin: auto 0;
    font-style: italic;
}

.comics-content-wrapper {
    font-weight: bold;
    display: flex;
}

.comics-content__button {
    width: 5%;
    text-align: center;
}

.comics-content {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.comics-content__picture {
    max-height: 700px;
}

.comics-content__extra-navigation-buttons {
    margin-top: 20px;
}

.comics-content__date {
    margin-top: 20px;
}

.comics-content__transcription {
    margin-top: 20px;
    white-space: pre-line;
    font-weight: bold;
    text-align: left;
}

#picture {
    max-width: 100%;
    max-height: inherit;
}

@media screen and (max-width: 720px) {
    .header__title {
        font-size: 17px;
    }
    .comics-content__picture {
        max-height: auto;
    }
}